# Quick ISRO Wikipedia Data SCRAPE using read_html Method

## This is a Proof Of concept
* Will Also Scrape NASA Data to compare with Isro Data

Imported all the Necessaory Packages

In [55]:

import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt

Used the .read_html() function to get data
* To understand the index of the tables i needed i wrote the code that gets all the tables with index

In [13]:
import pandas as pd


url = 'https://en.wikipedia.org/wiki/ISRO#Budget_for_the_Department_of_Space'

# Use pd.read_html to read all the tables from the given URL
tables = pd.read_html(url)

# Print the contents of all the tables
for idx, table in enumerate(tables):
    print(f"Table {idx}:\n{table}\n{'='*50}\n")

Table 0:
                                                    0  \
0   भारतीय अंतरिक्ष अनुसंधान संगठन Bhāratīya Antri...
1                                 Official Logo[1][2]
2                                     Agency overview
3                                        Abbreviation
4                                              Formed
5                                    Preceding agency
6                                                Type
7                                        Jurisdiction
8                                        Headquarters
9                                            Chairman
10                                 Primary spaceports
11                                              Owner
12                                          Employees
13                                            Website

                                                    1
0   भारतीय अंतरिक्ष अनुसंधान संगठन Bhāratīya Antri...
1                                 Official Logo[1][2]
2                                     Agency overview
3                                                ISRO
4                        15 August 1969; 53 years ago
5   .mw-parser-output .plainlist ol,.mw-parser-out...
6                                        Space agency
7           Department of Space (Government of India)
8   Bangalore, Karnataka .mw-parser-output .geo-de...
9                               Sreedhara Somanath[3]
10  .mw-parser-output .hlist dl,.mw-parser-output ...
11                                Government of India
12                                   16,786 (2022)[4]
13                                    www.isro.gov.in
==================================================

Table 1:
                                   Facility                          Location  \
0              Vikram Sarabhai Space Centre                Thiruvananthapuram
1          Liquid Propulsion Systems Centre  Thiruvananthapuram and Bengaluru
2              Physical Research Laboratory                         Ahmedabad
3  National Atmospheric Research Laboratory                          Tirupati
4                 Space Applications Centre                         Ahmedabad
5   North-Eastern Space Applications Centre                          Shillong

                                         Description
0  The largest ISRO base is also the main technic...
1  The LPSC handles design, development, testing ...
2  Solar planetary physics, infrared astronomy, g...
3  The NARL carries out fundamental and applied r...
4  The SAC deals with the various aspects of the ...
5  Providing developmental support to North East ...
==================================================

Table 2:
                  Facility      Location  \
0  ISRO Propulsion Complex  Mahendragiri

                                         Description
0  Formerly called LPSC-Mahendragiri, was declare...
==================================================

Table 3:
                                     Facility            Location  \
0                    U R Rao Satellite Centre           Bengaluru
1       Laboratory for Electro-Optics Systems           Bengaluru
2                  Satish Dhawan Space Centre         Sriharikota
3  Thumba Equatorial Rocket Launching Station  Thiruvananthapuram

                                         Description
0  The venue of eight successful spacecraft proje...
1  The Unit of ISRO responsible for the developme...
2  With multiple sub-sites the Sriharikota island...
3      TERLS is used to launch sounding rockets.[62]
==================================================

Table 4:
                                       Facility  \
0              Indian Deep Space Network (IDSN)
1                National Remote Sensing Centre
2  ISRO Telemetry, Tracking and Command Network
3                       Master Control Facility
4    Space Situational Awareness Control Centre

                                            Location  \
0                                          Bengaluru
1                                          Hyderabad
2  Bengaluru (headquarters) and a number of groun...
3                                     Bhopal; Hassan
4                                  Peenya, Bengaluru

                                         Description
0  This network receives, processes, archives and...
1  The NRSC applies remote sensing to manage natu...
2  Software development, ground operations, Track...
3  Geostationary satellite orbit raising, payload...
4  A network of telescopes and radars are being s...
==================================================

Table 5:
                                            Facility  \
0          Indian Institute of Remote Sensing (IIRS)
1  Indian Institute of Space Science and Technolo...
2     Development and Educational Communication Unit
3  Space Technology Incubation Centres (S-TICs) a...
4  Space Innovation Centre at: Veer Surendra Sai ...
5  Regional Academy Centre for Space (RAC-S) at: ...

                                            Location  \
0                                           Dehradun
1                                 Thiruvananthapuram
2                                          Ahmedabad
3  Agartala, Bhopal, Jalandhar, Nagpur Rourkela, ...
4                                   Burla, Sambalpur
5  Varanasi, Guwahati, Kurukshetra, Jaipur, Manga...

                                         Description
0  The Indian Institute of Remote Sensing (IIRS) ...
1  The institute offers undergraduate and graduat...
2  The centre works for education, research, and ...
3  The S-TICs opened at premier technical univers...
4  In line with its ongoing effort to promote R&D...
5  All these centres are set up in tier-2 cities ...
==================================================

Table 6:
  Decade  Successful  Partial success  Failure  Total
0  1990s           3                1        1      5
1  2000s          11                0        0     11
2  2010s          33                0        1     34
3  2020s           6                0        0      6
4  Total          53                1        2     56
==================================================

Table 7:
  Decade  Successful  Partial success  Failure  Total
0  2000s           2                2        1      5
1  2010s           6                0        2      8
2  2020s           1                0        1      2
3  Total           9                2        4     15
==================================================

Table 8:
  Decade  Successful  Partial success  Failure   Total
0  2010s           4                0        0  4[108]
1  2020s           3                0        0  3[109]
2  Total           7                0        0       7
==================================================

Table 9:
  Decade  Successful  Partial success  Failure  Total
0  2020s           1                0        1      2
==================================================

Table 10:
  Destination                             Craft name Launch vehicle       Year
0         Sun                              Aditya-L1        PSLV-XL       2023
1        Moon                          Chandrayaan-3           LVM3       2023
2        Moon                          Chandrayaan-4             H3       2025
3        Moon                          Chandrayaan-5            TBD  2025-2030
4        Moon                          Chandrayaan-6            TBD  2030-2035
5       Venus                             Shukrayaan           GSLV       2024
6        Mars  Mars Orbiter Mission 2 (Mangalyaan 2)           LVM3       2024
7        Mars  Mars Orbiter Mission 3 (Mangalyaan 3)           PSLV  2030[176]
==================================================

Table 11:
  Satellite name Launch vehicle          Year  \
0         NVS-01     GSLV – F14          2023
1        GSAT-20           LVM3          2024
2        GISAT 2           GSLV          2024
3          IDRSS           GSLV          2023
4          NISAR           GSLV  January 2024
5          DISHA           PSLV  2024–25[200]
6       AHySIS-2           PSLV          2024

                                           Purpose  \
0                                       Navigation
1                                   Communications
2                                Earth observation
3  Data relay and satellite tracking constellation
4                                Earth observation
5                                         Aeronomy
6                                Earth observation

                                               Notes
0                                                NaN
1                                                NaN
2  Geospatial imagery to facilitate continuous ob...
3  Facilitates continuous real-time communication...
4  NASA-ISRO Synthetic Aperture Radar (NISAR) is ...
5  Disturbed and quite-type Ionosphere System at ...
6  Follow-up to HySIS hyperspectral Earth imaging...
==================================================

Table 12:
                                                   0  \
0  .mw-parser-output .ambox{border:1px solid #a2a...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...
==================================================

Table 13:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...
==================================================

Table 14:
                                                   0  \
0  Graphs are temporarily unavailable due to tech...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...
==================================================

Table 15:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...
==================================================

Table 16:
                                                   0  \
0  Graphs are temporarily unavailable due to tech...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...
==================================================

Table 17:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...
==================================================

Table 18:
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000

                                                              \
   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0       NaN                    NaN                   696.489
1       NaN                    NaN                   624.381
2       NaN                    NaN                   781.901
3       NaN                    NaN                   879.281
4       NaN                    NaN                  1062.174
5       NaN                    NaN                   890.726
6       NaN                    NaN                  1196.291
7       NaN                    NaN                  1247.563
8       NaN                    NaN                  1613.259
9       NaN                    NaN                  1896.051
10      NaN                    NaN                  1527.408
11      NaN                    NaN                  2351.370
12      NaN                    NaN                  2410.543
13      NaN                    NaN                  2881.303
14      NaN                    NaN                  3585.645
15      NaN                    NaN                  3690.410
16      NaN                    NaN                  4105.274
17      NaN                    NaN                  3616.972
18      NaN                    NaN                  3217.774
19      NaN                    NaN                  3366.237
20      NaN                    NaN                  3210.258
21      NaN                    NaN                  4277.163
22      NaN                    NaN                  4237.768
23      NaN                    NaN                  3826.031
24      NaN                    NaN                  4935.415
25      NaN                    NaN                  4550.066
26      NaN                    NaN                  5364.608
27      NaN                    NaN                  6123.403
28      NaN                    NaN                  6686.851
29      NaN                    NaN                  6429.035
30      NaN                    NaN                  7010.441
31      NaN                    NaN                  7085.999
32      NaN                    NaN                  7627.942
33      NaN                    NaN                  7701.599
34      NaN                    NaN                  8156.366
35      NaN                    NaN                  8408.668
36      NaN                    NaN                  8273.225
37      NaN                    NaN                  8894.965
38      NaN                    NaN                  8542.800
39      NaN                    NaN                  6636.301
40      NaN                    NaN                  7778.216

In [14]:
url = 'https://en.wikipedia.org/wiki/ISRO#Budget_for_the_Department_of_Space'

In [15]:
tables = pd.read_html(url)

In [16]:
for idx, table in enumerate(tables):
    print(f"Table {idx}:")
    print(table)
    print()

Table 0:
                                                    0  \
0   भारतीय अंतरिक्ष अनुसंधान संगठन Bhāratīya Antri...
1                                 Official Logo[1][2]
2                                     Agency overview
3                                        Abbreviation
4                                              Formed
5                                    Preceding agency
6                                                Type
7                                        Jurisdiction
8                                        Headquarters
9                                            Chairman
10                                 Primary spaceports
11                                              Owner
12                                          Employees
13                                            Website

                                                    1
0   भारतीय अंतरिक्ष अनुसंधान संगठन Bhāratīya Antri...
1                                 Official Logo[1][2]
2                                     Agency overview
3                                                ISRO
4                        15 August 1969; 53 years ago
5   .mw-parser-output .plainlist ol,.mw-parser-out...
6                                        Space agency
7           Department of Space (Government of India)
8   Bangalore, Karnataka .mw-parser-output .geo-de...
9                               Sreedhara Somanath[3]
10  .mw-parser-output .hlist dl,.mw-parser-output ...
11                                Government of India
12                                   16,786 (2022)[4]
13                                    www.isro.gov.in

Table 1:
                                   Facility                          Location  \
0              Vikram Sarabhai Space Centre                Thiruvananthapuram
1          Liquid Propulsion Systems Centre  Thiruvananthapuram and Bengaluru
2              Physical Research Laboratory                         Ahmedabad
3  National Atmospheric Research Laboratory                          Tirupati
4                 Space Applications Centre                         Ahmedabad
5   North-Eastern Space Applications Centre                          Shillong

                                         Description
0  The largest ISRO base is also the main technic...
1  The LPSC handles design, development, testing ...
2  Solar planetary physics, infrared astronomy, g...
3  The NARL carries out fundamental and applied r...
4  The SAC deals with the various aspects of the ...
5  Providing developmental support to North East ...

Table 2:
                  Facility      Location  \
0  ISRO Propulsion Complex  Mahendragiri

                                         Description
0  Formerly called LPSC-Mahendragiri, was declare...

Table 3:
                                     Facility            Location  \
0                    U R Rao Satellite Centre           Bengaluru
1       Laboratory for Electro-Optics Systems           Bengaluru
2                  Satish Dhawan Space Centre         Sriharikota
3  Thumba Equatorial Rocket Launching Station  Thiruvananthapuram

                                         Description
0  The venue of eight successful spacecraft proje...
1  The Unit of ISRO responsible for the developme...
2  With multiple sub-sites the Sriharikota island...
3      TERLS is used to launch sounding rockets.[62]

Table 4:
                                       Facility  \
0              Indian Deep Space Network (IDSN)
1                National Remote Sensing Centre
2  ISRO Telemetry, Tracking and Command Network
3                       Master Control Facility
4    Space Situational Awareness Control Centre

                                            Location  \
0                                          Bengaluru
1                                          Hyderabad
2  Bengaluru (headquarters) and a number of groun...
3                                     Bhopal; Hassan
4                                  Peenya, Bengaluru

                                         Description
0  This network receives, processes, archives and...
1  The NRSC applies remote sensing to manage natu...
2  Software development, ground operations, Track...
3  Geostationary satellite orbit raising, payload...
4  A network of telescopes and radars are being s...

Table 5:
                                            Facility  \
0          Indian Institute of Remote Sensing (IIRS)
1  Indian Institute of Space Science and Technolo...
2     Development and Educational Communication Unit
3  Space Technology Incubation Centres (S-TICs) a...
4  Space Innovation Centre at: Veer Surendra Sai ...
5  Regional Academy Centre for Space (RAC-S) at: ...

                                            Location  \
0                                           Dehradun
1                                 Thiruvananthapuram
2                                          Ahmedabad
3  Agartala, Bhopal, Jalandhar, Nagpur Rourkela, ...
4                                   Burla, Sambalpur
5  Varanasi, Guwahati, Kurukshetra, Jaipur, Manga...

                                         Description
0  The Indian Institute of Remote Sensing (IIRS) ...
1  The institute offers undergraduate and graduat...
2  The centre works for education, research, and ...
3  The S-TICs opened at premier technical univers...
4  In line with its ongoing effort to promote R&D...
5  All these centres are set up in tier-2 cities ...

Table 6:
  Decade  Successful  Partial success  Failure  Total
0  1990s           3                1        1      5
1  2000s          11                0        0     11
2  2010s          33                0        1     34
3  2020s           6                0        0      6
4  Total          53                1        2     56

Table 7:
  Decade  Successful  Partial success  Failure  Total
0  2000s           2                2        1      5
1  2010s           6                0        2      8
2  2020s           1                0        1      2
3  Total           9                2        4     15

Table 8:
  Decade  Successful  Partial success  Failure   Total
0  2010s           4                0        0  4[108]
1  2020s           3                0        0  3[109]
2  Total           7                0        0       7

Table 9:
  Decade  Successful  Partial success  Failure  Total
0  2020s           1                0        1      2

Table 10:
  Destination                             Craft name Launch vehicle       Year
0         Sun                              Aditya-L1        PSLV-XL       2023
1        Moon                          Chandrayaan-3           LVM3       2023
2        Moon                          Chandrayaan-4             H3       2025
3        Moon                          Chandrayaan-5            TBD  2025-2030
4        Moon                          Chandrayaan-6            TBD  2030-2035
5       Venus                             Shukrayaan           GSLV       2024
6        Mars  Mars Orbiter Mission 2 (Mangalyaan 2)           LVM3       2024
7        Mars  Mars Orbiter Mission 3 (Mangalyaan 3)           PSLV  2030[176]

Table 11:
  Satellite name Launch vehicle          Year  \
0         NVS-01     GSLV – F14          2023
1        GSAT-20           LVM3          2024
2        GISAT 2           GSLV          2024
3          IDRSS           GSLV          2023
4          NISAR           GSLV  January 2024
5          DISHA           PSLV  2024–25[200]
6       AHySIS-2           PSLV          2024

                                           Purpose  \
0                                       Navigation
1                                   Communications
2                                Earth observation
3  Data relay and satellite tracking constellation
4                                Earth observation
5                                         Aeronomy
6                                Earth observation

                                               Notes
0                                                NaN
1                                                NaN
2  Geospatial imagery to facilitate continuous ob...
3  Facilitates continuous real-time communication...
4  NASA-ISRO Synthetic Aperture Radar (NISAR) is ...
5  Disturbed and quite-type Ionosphere System at ...
6  Follow-up to HySIS hyperspectral Earth imaging...

Table 12:
                                                   0  \
0  .mw-parser-output .ambox{border:1px solid #a2a...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...

Table 13:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...

Table 14:
                                                   0  \
0  Graphs are temporarily unavailable due to tech...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...

Table 15:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...

Table 16:
                                                   0  \
0  Graphs are temporarily unavailable due to tech...
1                                                NaN

                                                   1
0                                                NaN
1  Graphs are temporarily unavailable due to tech...

Table 17:
    0                                                  1
0 NaN  Graphs are temporarily unavailable due to tech...

Table 18:
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000

                                                              \
   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0       NaN                    NaN                   696.489
1       NaN                    NaN                   624.381
2       NaN                    NaN                   781.901
3       NaN                    NaN                   879.281
4       NaN                    NaN                  1062.174
5       NaN                    NaN                   890.726
6       NaN                    NaN                  1196.291
7       NaN                    NaN                  1247.563
8       NaN                    NaN                  1613.259
9       NaN                    NaN                  1896.051
10      NaN                    NaN                  1527.408
11      NaN                    NaN                  2351.370
12      NaN                    NaN                  2410.543
13      NaN                    NaN                  2881.303
14      NaN                    NaN                  3585.645
15      NaN                    NaN                  3690.410
16      NaN                    NaN                  4105.274
17      NaN                    NaN                  3616.972
18      NaN                    NaN                  3217.774
19      NaN                    NaN                  3366.237
20      NaN                    NaN                  3210.258
21      NaN                    NaN                  4277.163
22      NaN                    NaN                  4237.768
23      NaN                    NaN                  3826.031
24      NaN                    NaN                  4935.415
25      NaN                    NaN                  4550.066
26      NaN                    NaN                  5364.608
27      NaN                    NaN                  6123.403
28      NaN                    NaN                  6686.851
29      NaN                    NaN                  6429.035
30      NaN                    NaN                  7010.441
31      NaN                    NaN                  7085.999
32      NaN                    NaN                  7627.942
33      NaN                    NaN                  7701.599
34      NaN                    NaN                  8156.366
35      NaN                    NaN                  8408.668
36      NaN                    NaN                  8273.225
37      NaN                    NaN                  8894.965
38      NaN                    NaN                  8542.800
39      NaN                    NaN                  6636.301
40      NaN                    NaN                  7778.216
41      NaN                    NaN                  7464.000
42      NaN                    NaN                  7902.702
43      NaN                    NaN                  8872.483
44      NaN                    NaN                  9820.512
45      NaN                    NaN                 10881.647
46      NaN                    NaN                 12722.226
47      NaN                    NaN                 13760.472
48      NaN                    NaN                  9490.054
49      NaN                    NaN                 12473.840

                                 Notes and references
                                 Notes and references
0   Revised Estimate as Actuals are not available ...
1   Revised Estimate as Actuals are not available ...
2                                               [240]
3                                               [241]

In [17]:
table_index = 18
isro_statistics_table = tables[table_index]

In [18]:
isro_statistics_table

   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000

                                                              \
   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0       NaN                    NaN                   696.489
1       NaN                    NaN                   624.381
2       NaN                    NaN                   781.901
3       NaN                    NaN                   879.281
4       NaN                    NaN                  1062.174
5       NaN                    NaN                   890.726
6       NaN                    NaN                  1196.291
7       NaN                    NaN                  1247.563
8       NaN                    NaN                  1613.259
9       NaN                    NaN                  1896.051
10      NaN                    NaN                  1527.408
11      NaN                    NaN                  2351.370
12      NaN                    NaN                  2410.543
13      NaN                    NaN                  2881.303
14      NaN                    NaN                  3585.645
15      NaN                    NaN                  3690.410
16      NaN                    NaN                  4105.274
17      NaN                    NaN                  3616.972
18      NaN                    NaN                  3217.774
19      NaN                    NaN                  3366.237
20      NaN                    NaN                  3210.258
21      NaN                    NaN                  4277.163
22      NaN                    NaN                  4237.768
23      NaN                    NaN                  3826.031
24      NaN                    NaN                  4935.415
25      NaN                    NaN                  4550.066
26      NaN                    NaN                  5364.608
27      NaN                    NaN                  6123.403
28      NaN                    NaN                  6686.851
29      NaN                    NaN                  6429.035
30      NaN                    NaN                  7010.441
31      NaN                    NaN                  7085.999
32      NaN                    NaN                  7627.942
33      NaN                    NaN                  7701.599
34      NaN                    NaN                  8156.366
35      NaN                    NaN                  8408.668
36      NaN                    NaN                  8273.225
37      NaN                    NaN                  8894.965
38      NaN                    NaN                  8542.800
39      NaN                    NaN                  6636.301
40      NaN                    NaN                  7778.216
41      NaN                    NaN                  7464.000
42      NaN                    NaN                  7902.702
43      NaN                    NaN                  8872.483
44      NaN                    NaN                  9820.512
45      NaN                    NaN                 10881.647
46      NaN                    NaN                 12722.226
47      NaN                    NaN                 13760.472
48      NaN                    NaN                  9490.054
49      NaN                    NaN                 12473.840

                                 Notes and references
                                 Notes and references
0   Revised Estimate as Actuals are not available ...
1   Revised Estimate as Actuals are not available ...
2                                               [240]
3                                               [241]
4   Revised Estimate as Actuals are not available ...
5                                               [242]
6                                               [243]
7                                               [244]
8                                               [245]
9   Revised Estimate as Actuals are not available ...
10                                              [248]
11                                              [249]
12                                              [250]
13                                              [251]
14                                              [252]
15                                              [253]
16                                              [254]
17                                              [255]
18                                         [256][257]
19                                         [258][257]
20                                         [259][257]
21                                         [260][257]
22                                    [261][257][262]
23                                    [263][257][262]
24                                    [264][257][262]
25                                         [265][262]
26                                    [266][262][267]
27                                    [268][262][267]
28                                    [269][262][267]
29                                    [270][267][271]
30                                    [272][267][271]
31                                    [273][267][271]
32                                    [274][267][271]
33                                    [275][267][271]
34                                    [276][271][277]
35                                    [278][271][277]
36                                    [279][271][277]
37                                         [280][277]
38                                         [281][277]
39                                         [282][277]
40                                         [283][277]
41                                         [284][277]
42                                         [285][286]
43                                         [287][288]
44                                         [289][290]
45                                         [291][292]
46                                         [293][294]
47                                         [295][296]
48                                         [297][298]
49                                    [299][300][301]

In [21]:
# Verify the column names in the DataFrame
print(isro_statistics_table.columns)

# Create a list of column names to be dropped
columns_to_drop = ['Notes and references', '% of GDP', '% of Total Expenditure']

# Drop the specified columns from the DataFrame if they exist
isro_statistics_table = isro_statistics_table.drop(columns_to_drop, axis=1, errors='ignore')

MultiIndex([(                            'Calendar Year', ...),
            ('GDP (2011-12 base year) in crores(₹)[234]', ...),
            (          'Total Expenditure in crores (₹)', ...),
            (       'Budget of Department of Space[235]', ...),
            (       'Budget of Department of Space[235]', ...),
            (       'Budget of Department of Space[235]', ...),
            (       'Budget of Department of Space[235]', ...),
            (                     'Notes and references', ...)],
           )
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000


   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0       NaN                    NaN                   696.489
1       NaN                    NaN                   624.381
2       NaN                    NaN                   781.901
3       NaN                    NaN                   879.281
4       NaN                    NaN                  1062.174
5       NaN                    NaN                   890.726
6       NaN                    NaN                  1196.291
7       NaN                    NaN                  1247.563
8       NaN                    NaN                  1613.259
9       NaN                    NaN                  1896.051
10      NaN                    NaN                  1527.408
11      NaN                    NaN                  2351.370
12      NaN                    NaN                  2410.543
13      NaN                    NaN                  2881.303
14      NaN                    NaN                  3585.645
15      NaN                    NaN                  3690.410
16      NaN                    NaN                  4105.274
17      NaN                    NaN                  3616.972
18      NaN                    NaN                  3217.774
19      NaN                    NaN                  3366.237
20      NaN                    NaN                  3210.258
21      NaN                    NaN                  4277.163
22      NaN                    NaN                  4237.768
23      NaN                    NaN                  3826.031
24      NaN                    NaN                  4935.415
25      NaN                    NaN                  4550.066
26      NaN                    NaN                  5364.608
27      NaN                    NaN                  6123.403
28      NaN                    NaN                  6686.851
29      NaN                    NaN                  6429.035
30      NaN                    NaN                  7010.441
31      NaN                    NaN                  7085.999
32      NaN                    NaN                  7627.942
33      NaN                    NaN                  7701.599
34      NaN                    NaN                  8156.366
35      NaN                    NaN                  8408.668
36      NaN                    NaN                  8273.225
37      NaN                    NaN                  8894.965
38      NaN                    NaN                  8542.800
39      NaN                    NaN                  6636.301
40      NaN                    NaN                  7778.216
41      NaN                    NaN                  7464.000
42      NaN                    NaN                  7902.702
43      NaN                    NaN                  8872.483
44      NaN                    NaN                  9820.512
45      NaN                    NaN                 10881.647
46      NaN                    NaN                 12722.226
47      NaN                    NaN                 13760.472
48      NaN                    NaN                  9490.054
49      NaN                    NaN                 12473.840

<ipython-input-21-e1809ed26151>:8: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  isro_statistics_table = isro_statistics_table.drop(columns_to_drop, axis=1, errors='ignore')

In [22]:
isro_statistics_table

   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000


   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0       NaN                    NaN                   696.489
1       NaN                    NaN                   624.381
2       NaN                    NaN                   781.901
3       NaN                    NaN                   879.281
4       NaN                    NaN                  1062.174
5       NaN                    NaN                   890.726
6       NaN                    NaN                  1196.291
7       NaN                    NaN                  1247.563
8       NaN                    NaN                  1613.259
9       NaN                    NaN                  1896.051
10      NaN                    NaN                  1527.408
11      NaN                    NaN                  2351.370
12      NaN                    NaN                  2410.543
13      NaN                    NaN                  2881.303
14      NaN                    NaN                  3585.645
15      NaN                    NaN                  3690.410
16      NaN                    NaN                  4105.274
17      NaN                    NaN                  3616.972
18      NaN                    NaN                  3217.774
19      NaN                    NaN                  3366.237
20      NaN                    NaN                  3210.258
21      NaN                    NaN                  4277.163
22      NaN                    NaN                  4237.768
23      NaN                    NaN                  3826.031
24      NaN                    NaN                  4935.415
25      NaN                    NaN                  4550.066
26      NaN                    NaN                  5364.608
27      NaN                    NaN                  6123.403
28      NaN                    NaN                  6686.851
29      NaN                    NaN                  6429.035
30      NaN                    NaN                  7010.441
31      NaN                    NaN                  7085.999
32      NaN                    NaN                  7627.942
33      NaN                    NaN                  7701.599
34      NaN                    NaN                  8156.366
35      NaN                    NaN                  8408.668
36      NaN                    NaN                  8273.225
37      NaN                    NaN                  8894.965
38      NaN                    NaN                  8542.800
39      NaN                    NaN                  6636.301
40      NaN                    NaN                  7778.216
41      NaN                    NaN                  7464.000
42      NaN                    NaN                  7902.702
43      NaN                    NaN                  8872.483
44      NaN                    NaN                  9820.512
45      NaN                    NaN                 10881.647
46      NaN                    NaN                 12722.226
47      NaN                    NaN                 13760.472
48      NaN                    NaN                  9490.054
49      NaN                    NaN                 12473.840

Some EDA

In [50]:
isro_statistics_table.describe()

      GDP (2011-12 base year) in crores(₹)[234]  \
      GDP (2011-12 base year) in crores(₹)[234]
count                              5.000000e+01
mean                               4.634176e+06
std                                6.467625e+06
min                                5.524500e+04
25%                                2.602745e+05
50%                                1.470055e+06
75%                                6.153343e+06
max                                2.366464e+07

      Total Expenditure in crores (₹) Budget of Department of Space[235]  \
      Total Expenditure in crores (₹)                Nominal INR (crore)
count                    3.200000e+01                          50.000000
mean                     1.029991e+06                        2662.642422
std                      1.008842e+06                        3471.840698
min                      1.052980e+05                          18.232500
25%                      2.675182e+05                         193.476325
50%                      5.445625e+05                        1056.474550
75%                      1.585504e+06                        3716.484475
max                      3.793801e+06                       13033.291700


      % of GDP % of Total Expenditure 2020 Constant INR (crore)
count      0.0                    0.0                  50.00000
mean       NaN                    NaN                5415.72216
std        NaN                    NaN                3479.66076
min        NaN                    NaN                 624.38100
25%        NaN                    NaN                2528.23300
50%        NaN                    NaN                4742.74050
75%        NaN                    NaN                7871.58050
max        NaN                    NaN               13760.47200

In [52]:
isro_statistics_table.isnull()

   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0          False                                     False
1          False                                     False
2          False                                     False
3          False                                     False
4          False                                     False
5          False                                     False
6          False                                     False
7          False                                     False
8          False                                     False
9          False                                     False
10         False                                     False
11         False                                     False
12         False                                     False
13         False                                     False
14         False                                     False
15         False                                     False
16         False                                     False
17         False                                     False
18         False                                     False
19         False                                     False
20         False                                     False
21         False                                     False
22         False                                     False
23         False                                     False
24         False                                     False
25         False                                     False
26         False                                     False
27         False                                     False
28         False                                     False
29         False                                     False
30         False                                     False
31         False                                     False
32         False                                     False
33         False                                     False
34         False                                     False
35         False                                     False
36         False                                     False
37         False                                     False
38         False                                     False
39         False                                     False
40         False                                     False
41         False                                     False
42         False                                     False
43         False                                     False
44         False                                     False
45         False                                     False
46         False                                     False
47         False                                     False
48         False                                     False
49         False                                     False

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                             True                              False
1                             True                              False
2                             True                              False
3                             True                              False
4                             True                              False
5                             True                              False
6                             True                              False
7                             True                              False
8                             True                              False
9                             True                              False
10                            True                              False
11                            True                              False
12                            True                              False
13                            True                              False
14                            True                              False
15                            True                              False
16                            True                              False
17                            True                              False
18                           False                              False
19                           False                              False
20                           False                              False
21                           False                              False
22                           False                              False
23                           False                              False
24                           False                              False
25                           False                              False
26                           False                              False
27                           False                              False
28                           False                              False
29                           False                              False
30                           False                              False
31                           False                              False
32                           False                              False
33                           False                              False
34                           False                              False
35                           False                              False
36                           False                              False
37                           False                              False
38                           False                              False
39                           False                              False
40                           False                              False
41                           False                              False
42                           False                              False
43                           False                              False
44                           False                              False
45                           False                              False
46                           False                              False
47                           False                              False
48                           False                              False
49                           False                              False


   % of GDP % of Total Expenditure 2020 Constant INR (crore)
0      True                   True                     False
1      True                   True                     False
2      True                   True                     False
3      True                   True                     False
4      True                   True                     False
5      True                   True                     False
6      True                   True                     False
7      True                   True                     False
8      True                   True                     False
9      True                   True                     False
10     True                   True                     False
11     True                   True                     False
12     True                   True                     False
13     True                   True                     False
14     True                   True                     False
15     True                   True                     False
16     True                   True                     False
17     True                   True                     False
18     True                   True                     False
19     True                   True                     False
20     True                   True                     False
21     True                   True                     False
22     True                   True                     False
23     True                   True                     False
24     True                   True                     False
25     True                   True                     False
26     True                   True                     False
27     True                   True                     False
28     True                   True                     False
29     True                   True                     False
30     True                   True                     False
31     True                   True                     False
32     True                   True                     False
33     True                   True                     False
34     True                   True                     False
35     True                   True                     False
36     True                   True                     False
37     True                   True                     False
38     True                   True                     False
39     True                   True                     False
40     True                   True                     False
41     True                   True                     False
42     True                   True                     False
43     True                   True                     False
44     True                   True                     False
45     True                   True                     False
46     True                   True                     False
47     True                   True                     False
48     True                   True                     False
49     True                   True                     False

Some Data Cleaning

In [24]:
# Drop columns where all values are NaN from the DataFrame
df_without_all_nan_columns = isro_statistics_table.dropna(axis=1, how='all')

In [25]:
df_without_all_nan_columns

   Calendar Year GDP (2011-12 base year) in crores(₹)[234]  \
   Calendar Year GDP (2011-12 base year) in crores(₹)[234]
0        1972-73                                     55245
1        1973-74                                     67241
2        1974-75                                     79378
3        1975-76                                     85212
4        1976-77                                     91812
5        1977-78                                    104024
6        1978-79                                    112671
7        1979-80                                    123562
8        1980-81                                    147063
9        1981-82                                    172776
10       1982-83                                    193255
11       1983-84                                    225074
12       1984-85                                    252188
13       1985-86                                    284534
14       1986-87                                    318366
15       1987-88                                    361865
16       1988-89                                    429363
17       1989-90                                    493278
18       1990-91                                    576109
19       1991-92                                    662260
20       1992-93                                    761196
21       1993-94                                    875992
22       1994-95                                   1027570
23       1995-96                                   1205583
24       1996-97                                   1394816
25       1997-98                                   1545294
26       1998-99                                   1772297
27       1999-00                                   1988262
28       2000-01                                   2139886
29       2001-02                                   2315243
30       2002-03                                   2492614
31       2003-04                                   2792530
32       2004-05                                   3186332
33       2005-06                                   3632125
34       2006-07                                   4254629
35       2007-08                                   4898662
36       2008-09                                   5514152
37       2009-10                                   6366407
38       2010-11                                   7634472
39       2011-12                                   8736329
40       2012-13                                   9944013
41       2013-14                                  11233522
42       2014-15                                  12467960
43       2015-16                                  13771874
44       2016-17                                  15391669
45       2017-18                                  17090042
46       2018-19                                  18899668
47       2019-20                                  20074856
48       2020-21                                  19800914
49       2021-22                                  23664637

   Total Expenditure in crores (₹) Budget of Department of Space[235]  \
   Total Expenditure in crores (₹)                Nominal INR (crore)
0                              NaN                          18.232500
1                              NaN                          19.092200
2                              NaN                          30.728700
3                              NaN                          36.837900
4                              NaN                          41.140000
5                              NaN                          37.367000
6                              NaN                          51.451800
7                              NaN                          57.006200
8                              NaN                          82.108700
9                              NaN                         109.132100
10                             NaN                          94.889800
11                             NaN                         163.365600
12                             NaN                         181.601000
13                             NaN                         229.102300
14                             NaN                         309.990900
15                             NaN                         347.084600
16                             NaN                         422.367000
17                             NaN                         398.559500
18                        105298.0                         386.221800
19                        111414.0                         460.101000
20                        122618.0                         490.920400
21                        141853.0                         695.335000
22                        160739.0                         759.079300
23                        178275.0                         755.778596
24                        201007.0                        1062.446600
25                        232053.0                        1050.502500
26                        279340.0                        1401.702600
27                        298053.0                        1677.385800
28                        325592.0                        1905.399700
29                        362310.0                        1900.973700
30                        413248.0                        2162.224800
31                        471203.0                        2268.804700
32                        498252.0                        2534.348600
33                        505738.0                        2667.604400
34                        583387.0                        2988.665500
35                        712671.0                        3278.004400
36                        883956.0                        3493.571500
37                       1024487.0                        4162.959900
38                       1197328.0                        4482.231500
39                       1304365.0                        3790.788800
40                       1410372.0                        4856.283900
41                       1559447.0                        5168.951400
42                       1663673.0                        5821.366300
43                       1790783.0                        6920.005200
44                       1975194.0                        8039.996800
45                       2141975.0                        9130.566400
46                       2315113.0                       11192.656600
47                       2686330.0                       13033.291700
48                       3509836.0                        9490.053900
49                       3793801.0                       12473.840000


   2020 Constant INR (crore)
0                    696.489
1                    624.381
2                    781.901
3                    879.281
4                   1062.174
5                    890.726
6                   1196.291
7                   1247.563
8                   1613.259
9                   1896.051
10                  1527.408
11                  2351.370
12                  2410.543
13                  2881.303
14                  3585.645
15                  3690.410
16                  4105.274
17                  3616.972
18                  3217.774
19                  3366.237
20                  3210.258
21                  4277.163
22                  4237.768
23                  3826.031
24                  4935.415
25                  4550.066
26                  5364.608
27                  6123.403
28                  6686.851
29                  6429.035
30                  7010.441
31                  7085.999
32                  7627.942
33                  7701.599
34                  8156.366
35                  8408.668
36                  8273.225
37                  8894.965
38                  8542.800
39                  6636.301
40                  7778.216
41                  7464.000
42                  7902.702
43                  8872.483
44                  9820.512
45                 10881.647
46                 12722.226
47                 13760.472
48                  9490.054
49                 12473.840

In [30]:
Isro_budget = df_without_all_nan_columns

In [31]:
Isro_budget.to_csv('Cleaned_ISRO_Budget_Data.csv')

# Collecting NASA Data For Comparison

In [ ]:
link = 'https://en.wikipedia.org/wiki/Budget_of_NASA'

In [28]:
import pandas as pd


Link = 'https://en.wikipedia.org/wiki/Budget_of_NASA'

# Use pd.read_html to read all the tables from the given URL
tables = pd.read_html(Link)

# Print the contents of all the tables
for nasa, table in enumerate(tables):
    print(f"Table {nasa}:\n{table}\n{'='*50}\n")

Table 0:
                                                     0  \
0    Calendar Year NACA Budget[3] Nominal Dollars (...
1                                        Calendar Year
2                                        Calendar Year
3                                                 1915
4                                                 1916
..                                                 ...
111                                               2017
112                                               2018
113                                               2019
114                                               2020
115                                               2021

                                                     1  \
0    Calendar Year NASA budget Nominal Dollars (Mil...
1                                       NACA Budget[3]
2                           Nominal Dollars (Millions)
3                                                0.005
4                                                0.005
..                                                 ...
111                                         19,508[15]
112                                         20,736[16]
113                                         21,500[17]
114                                         22,629[18]
115                                         23,271[19]

                                                     2  \
0    Calendar Year NASA budget Nominal Dollars (Mil...
1                                       NACA Budget[3]
2                                %of Federal Budget[4]
3                                                0.00%
4                                                0.00%
..                                                 ...
111                                              0.47%
112                                              0.50%
113                                              0.47%
114                                              0.48%
115                                                NaN

                                    3
0                                 NaN
1                      NACA Budget[3]
2    2022 Constant Dollars (Millions)
3                               0.128
4                               0.119
..                                ...
111                             23290
112                             24165
113                             24609
114                             25509
115                               NaN

[116 rows x 4 columns]
==================================================

Table 1:
   Calendar Year             NACA Budget[3]                        \
   Calendar Year Nominal Dollars (Millions) %of Federal Budget[4]
0           1915                      0.005                 0.00%
1           1916                      0.005                 0.00%
2           1917                      0.088                 0.00%
3           1918                      0.112                 0.00%
4           1919                      0.205                 0.00%
5           1920                      0.175                 0.00%
6           1921                      0.200                 0.00%
7           1922                      0.200                 0.01%
8           1923                      0.226                 0.01%
9           1924                      0.307                 0.01%
10          1925                      0.470                 0.02%
11          1926                      0.534                 0.02%
12          1927                      0.513                 0.02%
13          1928                      0.550                 0.02%
14          1929                      0.837                 0.03%
15          1930                      1.300                 0.04%
16          1931                      1.321                 0.04%
17          1932                      1.051                 0.02%
18          1933                      0.920                 0.02%
19          1934                      0.954                 0.01%
20          1935                      1.256                 0.02%
21          1936                      2.544                 0.03%
22          1937                      1.631                 0.02%
23          1938                      1.281                 0.02%
24          1939                      4.064                 0.04%
25          1940                      4.180                 0.04%
26          1941                     11.200                 0.08%
27          1942                     19.866                 0.06%
28          1943                     25.429                 0.03%
29          1944                     38.392                 0.04%
30          1945                     40.942                 0.04%
31          1946                     24.052                 0.04%
32          1947                     30.713                 0.09%
33          1948                     43.449                 0.15%
34          1949                     48.652                 0.13%
35          1950                    128.000                 0.30%
36          1951                     63.068                 0.14%
37          1952                     69.000                 0.10%
38          1953                     66.286                 0.09%
39          1954                     62.439                 0.09%
40          1955                     55.860                 0.08%
41          1956                     72.700                 0.10%
42          1957                     76.677                 0.10%
43          1958                    117.000                 0.14%
44          1959                    101.000                 0.11%


   2022 Constant Dollars (Millions)
0                             0.128
1                             0.119
2                             1.770
3                             1.920
4                             3.067
5                             2.265
6                             2.892
7                             3.081
8                             3.414
9                             4.646
10                            6.951
11                            7.808
12                            7.630
13                            8.324
14                           12.665
15                           20.147
16                           22.493
17                           19.856
18                           18.316
19                           18.419
20                           23.723
21                           47.366
22                           29.306
23                           23.510
24                           75.669
25                           77.274
26                          197.200
27                          315.400
28                          380.400
29                          564.600
30                          588.700
31                          319.200
32                          356.400
33                          466.600
34                          529.100
35                         1374.600
36                          627.800
37                          673.900
38                          642.500
39                          600.700
40                          539.400
41                          691.700
42                          706.200
43                         1847.300
44                         2188.800
==================================================

Table 2:
   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1958                         89                  0.1%
1           1959                        145                  0.2%
2           1960                        401                  0.5%
3           1961                        744                  0.9%
4           1962                       1257                 1.18%
5           1963                       2552                 2.29%
6           1964                       4171                 3.52%
7           1965                       5092                 4.31%
8           1966                       5933                 4.41%
9           1967                       5425                 3.45%
10          1968                       4722                 2.65%
11          1969                       4251                 2.31%
12          1970                       3752                 1.92%
13          1971                       3382                 1.61%
14          1972                       3423                 1.48%
15          1973                       3312                 1.35%
16          1974                       3255                 1.21%
17          1975                       3269                 0.98%
18          1976                       3671                 0.99%
19          1977                       4002                 0.98%
20          1978                       4164                 0.91%
21          1979                       4380                 0.87%
22          1980                       4959                 0.84%
23          1981                       5537                 0.82%
24          1982                       6155                 0.83%
25          1983                       6853                 0.85%
26          1984                       7055                 0.83%
27          1985                       7251                 0.77%
28          1986                       7403                 0.75%
29          1987                       7591                 0.76%
30          1988                       9092                 0.85%


   2022 Constant Dollars (Millions)
0                               903
1                              1456
2                              3967
3                              7286
4                             12161
5                             24394
6                             39356
7                             47285
8                             53513
9                             47612
10                            39737
11                            33923
12                            28273
13                            24438
14                            23947
15                            21833
16                            19315
17                            17778
18                            18879
19                            19327
20                            18683
21                            17661
22                            17613
23                            17823
24                            18665
25                            20135
26                            19872
27                            19729
28                            19764
29                            19553
30                            22497
==================================================

Table 3:
   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1989                      11036                 0.96%
1           1990                      12429                 0.99%
2           1991                      13878                 1.05%
3           1992                      13961                 1.01%
4           1993                      14305                 1.01%
5           1994                      13695                 0.94%
6           1995                      13378                 0.88%
7           1996                      13881                 0.89%
8           1997                      14360                 0.90%
9           1998                      14194                 0.86%
10          1999                      13636                 0.80%
11          2000                      13428                 0.75%
12          2001                      14095                 0.76%
13          2002                      14405                 0.72%
14          2003                      14610                 0.68%
15          2004                      15152                 0.66%
16          2005                      15602                 0.63%
17          2006                      15125                 0.57%
18          2007                      15861                 0.58%
19          2008                      17833                 0.60%
20          2009                  17,782[7]                 0.57%
21          2010                  18,724[8]                 0.52%
22          2011                  18,448[9]                 0.51%
23          2012                 17,770[10]                 0.50%
24          2013                 16,865[11]                 0.49%
25          2014                 17,647[12]                 0.50%
26          2015                 18,010[13]                 0.49%
27          2016                 19,300[14]                 0.50%
28          2017                 19,508[15]                 0.47%
29          2018                 20,736[16]                 0.50%
30          2019                 21,500[17]                 0.47%
31          2020                 22,629[18]                 0.48%
32          2021                 23,271[19]                   NaN


   2022 Constant Dollars (Millions)
0                           26054.0
1                           27840.0
2                           29818.0
3                           29114.0
4                           28979.0
5                           27039.0
6                           25693.0
7                           25901.0
8                           26178.0
9                           25484.0
10                          23954.0
11                          22819.0
12                          23295.0
13                          23437.0
14                          23242.0
15                          23475.0
16                          23378.0
17                          21956.0
18                          22385.0
19                          24239.0
20                          24255.0
21                          25127.0
22                          23999.0
23                          22651.0
24                          21187.0
25                          21814.0
26                          22235.0
27                          23534.0
28                          23290.0
29                          24165.0
30                          24609.0
31                          25509.0
32                              NaN
==================================================

Table 4:
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNASA  \
0                                  Policy and history
1                                  History (creation)
2                                             General
3                          Human spaceflight programs
4                                                Past
5                                             Current
6                                    Robotic programs
7                                                Past
8                                             Current
9   Individual featured  missions (human and robotic)
10                                               Past
11                                Currently operating
12                                             Future
13                      Communications and navigation
14                                         NASA lists
15                            NASA images and artwork
16                                            Related
17                                  Category  Commons

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNASA.1
0   History (creation) NACA (1915) National Aerona...
1   NACA (1915) National Aeronautics and Space Act...
2   Space Race Administrator and Deputy Administra...
3   Past X-15 (suborbital) Mercury Gemini Apollo S...
4   X-15 (suborbital) Mercury Gemini Apollo Skylab...
5   International Space Station Commercial Orbital...
6   Past Hitchhiker Mariner Mariner Mark II MESUR ...
7   Hitchhiker Mariner Mariner Mark II MESUR Mars ...
8   Living With a Star Lunar Precursor Robotic Pro...
9   Past Apollo 11 COBE Mercury 3 Mercury-Atlas 6 ...
10  Apollo 11 COBE Mercury 3 Mercury-Atlas 6 Magel...
11  Mars Reconnaissance Orbiter 2001 Mars Odyssey ...
12  Joint Polar Satellite System NISAR Europa Clip...
13  Near Earth Network Space Network Deep Space Ne...
14  Astronauts by name by year Gemini astronauts A...
15  Earthrise The Blue Marble Family Portrait Pale...
16  "We choose to go to the Moon" Apollo 8 Genesis...
17                                  Category  Commons
==================================================

Table 5:
                    0                                                  1
0  History (creation)  NACA (1915) National Aeronautics and Space Act...
1             General  Space Race Administrator and Deputy Administra...
==================================================

Table 6:
         0                                                  1
0     Past  X-15 (suborbital) Mercury Gemini Apollo Skylab...
1  Current  International Space Station Commercial Orbital...
==================================================

Table 7:
         0                                                  1
0     Past  Hitchhiker Mariner Mariner Mark II MESUR Mars ...
1  Current  Living With a Star Lunar Precursor Robotic Pro...
==================================================

Table 8:
                     0                                                  1
0                 Past  Apollo 11 COBE Mercury 3 Mercury-Atlas 6 Magel...
1  Currently operating  Mars Reconnaissance Orbiter 2001 Mars Odyssey ...
2               Future  Joint Polar Satellite System NISAR Europa Clip...
==================================================

In [29]:
for nasa, table in enumerate(tables):
    print(f"Table {nasa}:")
    print(table)
    print()

Table 0:
                                                     0  \
0    Calendar Year NACA Budget[3] Nominal Dollars (...
1                                        Calendar Year
2                                        Calendar Year
3                                                 1915
4                                                 1916
..                                                 ...
111                                               2017
112                                               2018
113                                               2019
114                                               2020
115                                               2021

                                                     1  \
0    Calendar Year NASA budget Nominal Dollars (Mil...
1                                       NACA Budget[3]
2                           Nominal Dollars (Millions)
3                                                0.005
4                                                0.005
..                                                 ...
111                                         19,508[15]
112                                         20,736[16]
113                                         21,500[17]
114                                         22,629[18]
115                                         23,271[19]

                                                     2  \
0    Calendar Year NASA budget Nominal Dollars (Mil...
1                                       NACA Budget[3]
2                                %of Federal Budget[4]
3                                                0.00%
4                                                0.00%
..                                                 ...
111                                              0.47%
112                                              0.50%
113                                              0.47%
114                                              0.48%
115                                                NaN

                                    3
0                                 NaN
1                      NACA Budget[3]
2    2022 Constant Dollars (Millions)
3                               0.128
4                               0.119
..                                ...
111                             23290
112                             24165
113                             24609
114                             25509
115                               NaN

[116 rows x 4 columns]

Table 1:
   Calendar Year             NACA Budget[3]                        \
   Calendar Year Nominal Dollars (Millions) %of Federal Budget[4]
0           1915                      0.005                 0.00%
1           1916                      0.005                 0.00%
2           1917                      0.088                 0.00%
3           1918                      0.112                 0.00%
4           1919                      0.205                 0.00%
5           1920                      0.175                 0.00%
6           1921                      0.200                 0.00%
7           1922                      0.200                 0.01%
8           1923                      0.226                 0.01%
9           1924                      0.307                 0.01%
10          1925                      0.470                 0.02%
11          1926                      0.534                 0.02%
12          1927                      0.513                 0.02%
13          1928                      0.550                 0.02%
14          1929                      0.837                 0.03%
15          1930                      1.300                 0.04%
16          1931                      1.321                 0.04%
17          1932                      1.051                 0.02%
18          1933                      0.920                 0.02%
19          1934                      0.954                 0.01%
20          1935                      1.256                 0.02%
21          1936                      2.544                 0.03%
22          1937                      1.631                 0.02%
23          1938                      1.281                 0.02%
24          1939                      4.064                 0.04%
25          1940                      4.180                 0.04%
26          1941                     11.200                 0.08%
27          1942                     19.866                 0.06%
28          1943                     25.429                 0.03%
29          1944                     38.392                 0.04%
30          1945                     40.942                 0.04%
31          1946                     24.052                 0.04%
32          1947                     30.713                 0.09%
33          1948                     43.449                 0.15%
34          1949                     48.652                 0.13%
35          1950                    128.000                 0.30%
36          1951                     63.068                 0.14%
37          1952                     69.000                 0.10%
38          1953                     66.286                 0.09%
39          1954                     62.439                 0.09%
40          1955                     55.860                 0.08%
41          1956                     72.700                 0.10%
42          1957                     76.677                 0.10%
43          1958                    117.000                 0.14%
44          1959                    101.000                 0.11%


   2022 Constant Dollars (Millions)
0                             0.128
1                             0.119
2                             1.770
3                             1.920
4                             3.067
5                             2.265
6                             2.892
7                             3.081
8                             3.414
9                             4.646
10                            6.951
11                            7.808
12                            7.630
13                            8.324
14                           12.665
15                           20.147
16                           22.493
17                           19.856
18                           18.316
19                           18.419
20                           23.723
21                           47.366
22                           29.306
23                           23.510
24                           75.669
25                           77.274
26                          197.200
27                          315.400
28                          380.400
29                          564.600
30                          588.700
31                          319.200
32                          356.400
33                          466.600
34                          529.100
35                         1374.600
36                          627.800
37                          673.900
38                          642.500
39                          600.700
40                          539.400
41                          691.700
42                          706.200
43                         1847.300
44                         2188.800

Table 2:
   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1958                         89                  0.1%
1           1959                        145                  0.2%
2           1960                        401                  0.5%
3           1961                        744                  0.9%
4           1962                       1257                 1.18%
5           1963                       2552                 2.29%
6           1964                       4171                 3.52%
7           1965                       5092                 4.31%
8           1966                       5933                 4.41%
9           1967                       5425                 3.45%
10          1968                       4722                 2.65%
11          1969                       4251                 2.31%
12          1970                       3752                 1.92%
13          1971                       3382                 1.61%
14          1972                       3423                 1.48%
15          1973                       3312                 1.35%
16          1974                       3255                 1.21%
17          1975                       3269                 0.98%
18          1976                       3671                 0.99%
19          1977                       4002                 0.98%
20          1978                       4164                 0.91%
21          1979                       4380                 0.87%
22          1980                       4959                 0.84%
23          1981                       5537                 0.82%
24          1982                       6155                 0.83%
25          1983                       6853                 0.85%
26          1984                       7055                 0.83%
27          1985                       7251                 0.77%
28          1986                       7403                 0.75%
29          1987                       7591                 0.76%
30          1988                       9092                 0.85%


   2022 Constant Dollars (Millions)
0                               903
1                              1456
2                              3967
3                              7286
4                             12161
5                             24394
6                             39356
7                             47285
8                             53513
9                             47612
10                            39737
11                            33923
12                            28273
13                            24438
14                            23947
15                            21833
16                            19315
17                            17778
18                            18879
19                            19327
20                            18683
21                            17661
22                            17613
23                            17823
24                            18665
25                            20135
26                            19872
27                            19729
28                            19764
29                            19553
30                            22497

Table 3:
   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1989                      11036                 0.96%
1           1990                      12429                 0.99%
2           1991                      13878                 1.05%
3           1992                      13961                 1.01%
4           1993                      14305                 1.01%
5           1994                      13695                 0.94%
6           1995                      13378                 0.88%
7           1996                      13881                 0.89%
8           1997                      14360                 0.90%
9           1998                      14194                 0.86%
10          1999                      13636                 0.80%
11          2000                      13428                 0.75%
12          2001                      14095                 0.76%
13          2002                      14405                 0.72%
14          2003                      14610                 0.68%
15          2004                      15152                 0.66%
16          2005                      15602                 0.63%
17          2006                      15125                 0.57%
18          2007                      15861                 0.58%
19          2008                      17833                 0.60%
20          2009                  17,782[7]                 0.57%
21          2010                  18,724[8]                 0.52%
22          2011                  18,448[9]                 0.51%
23          2012                 17,770[10]                 0.50%
24          2013                 16,865[11]                 0.49%
25          2014                 17,647[12]                 0.50%
26          2015                 18,010[13]                 0.49%
27          2016                 19,300[14]                 0.50%
28          2017                 19,508[15]                 0.47%
29          2018                 20,736[16]                 0.50%
30          2019                 21,500[17]                 0.47%
31          2020                 22,629[18]                 0.48%
32          2021                 23,271[19]                   NaN


   2022 Constant Dollars (Millions)
0                           26054.0
1                           27840.0
2                           29818.0
3                           29114.0
4                           28979.0
5                           27039.0
6                           25693.0
7                           25901.0
8                           26178.0
9                           25484.0
10                          23954.0
11                          22819.0
12                          23295.0
13                          23437.0
14                          23242.0
15                          23475.0
16                          23378.0
17                          21956.0
18                          22385.0
19                          24239.0
20                          24255.0
21                          25127.0
22                          23999.0
23                          22651.0
24                          21187.0
25                          21814.0
26                          22235.0
27                          23534.0
28                          23290.0
29                          24165.0
30                          24609.0
31                          25509.0
32                              NaN

Table 4:
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNASA  \
0                                  Policy and history
1                                  History (creation)
2                                             General
3                          Human spaceflight programs
4                                                Past
5                                             Current
6                                    Robotic programs
7                                                Past
8                                             Current
9   Individual featured  missions (human and robotic)
10                                               Past
11                                Currently operating
12                                             Future
13                      Communications and navigation
14                                         NASA lists
15                            NASA images and artwork
16                                            Related
17                                  Category  Commons

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNASA.1
0   History (creation) NACA (1915) National Aerona...
1   NACA (1915) National Aeronautics and Space Act...
2   Space Race Administrator and Deputy Administra...
3   Past X-15 (suborbital) Mercury Gemini Apollo S...
4   X-15 (suborbital) Mercury Gemini Apollo Skylab...
5   International Space Station Commercial Orbital...
6   Past Hitchhiker Mariner Mariner Mark II MESUR ...
7   Hitchhiker Mariner Mariner Mark II MESUR Mars ...
8   Living With a Star Lunar Precursor Robotic Pro...
9   Past Apollo 11 COBE Mercury 3 Mercury-Atlas 6 ...
10  Apollo 11 COBE Mercury 3 Mercury-Atlas 6 Magel...
11  Mars Reconnaissance Orbiter 2001 Mars Odyssey ...
12  Joint Polar Satellite System NISAR Europa Clip...
13  Near Earth Network Space Network Deep Space Ne...
14  Astronauts by name by year Gemini astronauts A...
15  Earthrise The Blue Marble Family Portrait Pale...
16  "We choose to go to the Moon" Apollo 8 Genesis...
17                                  Category  Commons

Table 5:
                    0                                                  1
0  History (creation)  NACA (1915) National Aeronautics and Space Act...
1             General  Space Race Administrator and Deputy Administra...

Table 6:
         0                                                  1
0     Past  X-15 (suborbital) Mercury Gemini Apollo Skylab...
1  Current  International Space Station Commercial Orbital...

Table 7:
         0                                                  1
0     Past  Hitchhiker Mariner Mariner Mark II MESUR Mars ...
1  Current  Living With a Star Lunar Precursor Robotic Pro...

Table 8:
                     0                                                  1
0                 Past  Apollo 11 COBE Mercury 3 Mercury-Atlas 6 Magel...
1  Currently operating  Mars Reconnaissance Orbiter 2001 Mars Odyssey ...
2               Future  Joint Polar Satellite System NISAR Europa Clip...

In [36]:
# Specifying the index positions of the tables you want to extract
table_index_1 = 2
table_index_2 = 3

# Extracting the tables based on the index positions
Nasa_Budget_Table_1 = tables[table_index_1]
Nasa_Budget_Table_2 = tables[table_index_2]

In [34]:
Nasa_Budget_Table_1

   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1958                         89                  0.1%
1           1959                        145                  0.2%
2           1960                        401                  0.5%
3           1961                        744                  0.9%
4           1962                       1257                 1.18%
5           1963                       2552                 2.29%
6           1964                       4171                 3.52%
7           1965                       5092                 4.31%
8           1966                       5933                 4.41%
9           1967                       5425                 3.45%
10          1968                       4722                 2.65%
11          1969                       4251                 2.31%
12          1970                       3752                 1.92%
13          1971                       3382                 1.61%
14          1972                       3423                 1.48%
15          1973                       3312                 1.35%
16          1974                       3255                 1.21%
17          1975                       3269                 0.98%
18          1976                       3671                 0.99%
19          1977                       4002                 0.98%
20          1978                       4164                 0.91%
21          1979                       4380                 0.87%
22          1980                       4959                 0.84%
23          1981                       5537                 0.82%
24          1982                       6155                 0.83%
25          1983                       6853                 0.85%
26          1984                       7055                 0.83%
27          1985                       7251                 0.77%
28          1986                       7403                 0.75%
29          1987                       7591                 0.76%
30          1988                       9092                 0.85%


   2022 Constant Dollars (Millions)
0                               903
1                              1456
2                              3967
3                              7286
4                             12161
5                             24394
6                             39356
7                             47285
8                             53513
9                             47612
10                            39737
11                            33923
12                            28273
13                            24438
14                            23947
15                            21833
16                            19315
17                            17778
18                            18879
19                            19327
20                            18683
21                            17661
22                            17613
23                            17823
24                            18665
25                            20135
26                            19872
27                            19729
28                            19764
29                            19553
30                            22497

In [37]:
Nasa_Budget_Table_2

   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1989                      11036                 0.96%
1           1990                      12429                 0.99%
2           1991                      13878                 1.05%
3           1992                      13961                 1.01%
4           1993                      14305                 1.01%
5           1994                      13695                 0.94%
6           1995                      13378                 0.88%
7           1996                      13881                 0.89%
8           1997                      14360                 0.90%
9           1998                      14194                 0.86%
10          1999                      13636                 0.80%
11          2000                      13428                 0.75%
12          2001                      14095                 0.76%
13          2002                      14405                 0.72%
14          2003                      14610                 0.68%
15          2004                      15152                 0.66%
16          2005                      15602                 0.63%
17          2006                      15125                 0.57%
18          2007                      15861                 0.58%
19          2008                      17833                 0.60%
20          2009                  17,782[7]                 0.57%
21          2010                  18,724[8]                 0.52%
22          2011                  18,448[9]                 0.51%
23          2012                 17,770[10]                 0.50%
24          2013                 16,865[11]                 0.49%
25          2014                 17,647[12]                 0.50%
26          2015                 18,010[13]                 0.49%
27          2016                 19,300[14]                 0.50%
28          2017                 19,508[15]                 0.47%
29          2018                 20,736[16]                 0.50%
30          2019                 21,500[17]                 0.47%
31          2020                 22,629[18]                 0.48%
32          2021                 23,271[19]                   NaN


   2022 Constant Dollars (Millions)
0                           26054.0
1                           27840.0
2                           29818.0
3                           29114.0
4                           28979.0
5                           27039.0
6                           25693.0
7                           25901.0
8                           26178.0
9                           25484.0
10                          23954.0
11                          22819.0
12                          23295.0
13                          23437.0
14                          23242.0
15                          23475.0
16                          23378.0
17                          21956.0
18                          22385.0
19                          24239.0
20                          24255.0
21                          25127.0
22                          23999.0
23                          22651.0
24                          21187.0
25                          21814.0
26                          22235.0
27                          23534.0
28                          23290.0
29                          24165.0
30                          24609.0
31                          25509.0
32                              NaN

In [38]:
# Concatenate the tables vertically
combined_table = pd.concat([Nasa_Budget_Table_1, Nasa_Budget_Table_2], ignore_index=True)

In [43]:
combined_table = NASA_BUDGET

In [45]:
NASA_BUDGET.describe()

      Calendar Year                      NASA budget
      Calendar Year 2022 Constant Dollars (Millions)
count     64.000000                        63.000000
mean    1989.500000                     23556.079365
std       18.618987                      8944.226360
min     1958.000000                       903.000000
25%     1973.750000                     19746.500000
50%     1989.500000                     23378.000000
75%     2005.250000                     25601.000000
max     2021.000000                     53513.000000

In [47]:
NASA_BUDGET.isnull().sum()

Calendar Year  Calendar Year                       0
NASA budget    Nominal Dollars (Millions)          0
               % of Fed Budget[5][6]               1
               2022 Constant Dollars (Millions)    1
dtype: int64

In [48]:
NASA_BUDGET

   Calendar Year                NASA budget                        \
   Calendar Year Nominal Dollars (Millions) % of Fed Budget[5][6]
0           1958                         89                  0.1%
1           1959                        145                  0.2%
2           1960                        401                  0.5%
3           1961                        744                  0.9%
4           1962                       1257                 1.18%
..           ...                        ...                   ...
59          2017                 19,508[15]                 0.47%
60          2018                 20,736[16]                 0.50%
61          2019                 21,500[17]                 0.47%
62          2020                 22,629[18]                 0.48%
63          2021                 23,271[19]                   NaN


   2022 Constant Dollars (Millions)
0                             903.0
1                            1456.0
2                            3967.0
3                            7286.0
4                           12161.0
..                              ...
59                          23290.0
60                          24165.0
61                          24609.0
62                          25509.0
63                              NaN

[64 rows x 4 columns]

In [49]:
NASA_BUDGET.to_csv('NASA_BUDGET.csv')

Comarison of bith ISRO and NASA data will be done in Another note book